.videoContainer {
  height: 86vh;
}

.videoContent {
  width: 80%;
  margin: 0 auto;
}

.videoContentHeader {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.videoContentHeader h1 {
  color: #fff;
  font-size: 1.3em;
}

.videoContentHeader h1:nth-child(1) {
  margin-right: 20px;
  border-bottom: 2px solid #f85a40;
}

.videoListContainer {
  height: 100%;
}

.videoListContent {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 50px;
}

.videoNavigation {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: #fff;
  height: 100%;
}

.videoNavigation .arrowButton {
  background-color: #f85a40;
  margin-top: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  padding: 10px;
  cursor: pointer;
}

.videoNavigation .arrowButton .icon {
  font-size: 4em;
}

.videoBodyContainer {
  height: 80vh;
  width: 100%;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.videoBodyContainer video {
  height: 100%;
  width: 100%;
  max-width: 100%;
  object-fit: cover;
}

.videoActionsContainer {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  height: 100%;
}

.videoActionsContainer .action {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  margin-top: 10%;
}

.videoActionsContainer .action:nth-child(3) .icon {
  background-color: #f85a40;
  color: #fff;
  border-radius: 50%;
  padding: 5px;
  font-size: 2.2em;
}

.videoActionsContainer .icon {
  color: #f85a40;
  cursor: pointer;
}

.videoActionsContainer p {
  color: #a7a4a4;
}

.loadingContainer {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 1000;
}

.videoDescriptions {
  position: absolute;
  bottom: 10%; /* Adjust this value to move it higher or lower */
  left: 50%;
  transform: translateX(-50%);
  color: rgb(207, 207, 207);
  background-color: rgba(0, 0, 0, 0.4); /* Semi-transparent background */
  padding: 10px;
  border-radius: 8px;
  width: 26.6%;
}

.videoDescriptionsHeader {
  margin-bottom: 5px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.videoDescriptionsHeader h1 {
  font-size: 1.2rem;
  font-family: sans-serif;
}

.videoDescriptionsText {
  height: auto;
  overflow-y: scroll;
}

.videoDescriptionsText p {
  font-size: 0.9em;
  font-family: sans-serif;
}

.videoDescriptionsText::-webkit-scrollbar {
  height: 0px;
}

.videoDescriptionsText::-webkit-scrollbar-thumb {
  background-color: #888;
  border-radius: 0px;
  border: 1px solid #f1f1f1;
}

.videoDescriptionsText::-webkit-scrollbar-thumb:hover {
  background: #555;
}

@media (max-width: 700px) {
  .videoContainer {
    height: 100%;
  }

  .videoContent {
    width: 95%;
    margin: 0 auto;
  }

  .videoListContent {
    display: grid;
    grid-template-columns: 1fr;
    gap: 50px;
  }

  .videoNavigation {
    position: absolute;
    top: 50%;
    left: 10px;
    transform: translateY(-50%);
    flex-direction: column;
    height: auto;
    padding: 5px;
    border-radius: 25px;
  }

  .videoNavigation .arrowButton {
    background-color: #f85a40;
    margin-top: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    padding: 5px;
    cursor: pointer;
    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.4);
  }

  .videoNavigation .arrowButton .icon {
    font-size: 1.8em;
  }

  .videoActionsContainer {
    position: absolute;
    right: 0px;
    top: 50%;
    transform: translateY(-50%);
    height: auto;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    flex-direction: column;
    padding: 5px;
    border-radius: 25px;
  }

  .videoActionsContainer .action {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    flex-direction: column;
    margin-top: 35%;
    background-color: rgba(0, 0, 0, 0.4);
    padding: 5px;
    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.4);
  }

  .videoActionsContainer .action:nth-child(3) {
    background-color: rgba(0, 0, 0, 0);
  }

  .videoActionsContainer .action:nth-child(3) .icon {
    background-color: #f85a40;
    color: #fff;
    border-radius: 50%;
    padding: 5px;
    font-size: 2.2em;
  }

  .videoActionsContainer .icon {
    color: #f85a40;
    cursor: pointer;
  }

  .videoActionsContainer p {
    color: #fff;
  }

  .videoBodyContainer {
    height: 85vh;
    margin-top: 5px;
  }

  .videoDescriptions {
    position: absolute;
    bottom: 5%;
    left: 50%;
    transform: translateX(-50%);
    background-color: rgba(0, 0, 0, 0.4);
    padding: 10px;
    border-radius: 8px;
    width: 100%;
  }

  .videoDescriptionsHeader {
    margin-bottom: 5px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }

  .videoDescriptionsHeader h1 {
    font-size: 1rem;
    font-family: sans-serif;
  }

  .videoDescriptionsText {
    height: auto;
    overflow-y: scroll;
  }

  .videoDescriptionsText p {
    font-size: 0.9em;
    font-family: sans-serif;
  }
}
